.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.example-card{
    max-width: 80vh; 
    margin: auto;
}
.example-full-width {
    width: 100%;
}

h1{
    font-family: 'Lemon/Milk light', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}


mat-card-header{
    display: block;
}

mat-error{
    font-style: italic;
    font-weight: 300;
}

:host ::ng-deep .mat-horizontal-content-container {
    padding:0 !important;
}

span{
    font-weight: 400;
    font-size: small;
}