<div class="layout">
<div class="container">
    <div style="width: 100%;">
        <mat-card class="example-card">
            <mat-card-header class="center">
                <h1>{{"REGISTER.TITLE" | translate }}</h1>
            </mat-card-header>
            <mat-card-content>
            <hr>
            <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup" label="{{'REGISTER.ROL' | translate }}">
                  <form [formGroup]="firstFormGroup">
                    <!--ROL-->
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>{{"REGISTER.ROL" | translate }}</mat-label>
                        <mat-select formControlName="rol">
                          <mat-option value="Docente">{{"REGISTER.ROLDOCENTE" | translate }}</mat-option>
                          <mat-option value="Estudiante">{{"REGISTER.ROLESTUDIANTE" | translate }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="firstFormGroup.get('rol')?.hasError('required') && firstFormGroup.get('rol')?.touched">
                          {{"REGISTER.ROLVALIDATION" | translate }}
                        </mat-error>
                      </mat-form-field>
                    <div>
                      <button mat-raised-button matStepperNext style="margin: 0px;" color="accent">{{"REGISTER.BTNNEXT" | translate }}</button>
                    </div>
                  </form>
                </mat-step>

                <mat-step [stepControl]="secondFormGroup" label="{{'REGISTER.SUBTITLE2' | translate }}">
                    <form [formGroup]="secondFormGroup">
                      <div class="cards">
                        <!--Nombre-->
                        <mat-form-field class="example-full-width" style="margin-bottom: 0px;">
                          <mat-label>{{"REGISTER.NAME" | translate }}</mat-label>
                          <input matInput type="text" formControlName="nombre" required>
                          <mat-icon matSuffix>person</mat-icon>
                          <mat-error *ngIf="secondFormGroup.get('nombre')?.hasError('required') && secondFormGroup.get('nombre')?.touched">
                            {{"REGISTER.NAMEVALIDATION" | translate }}
                          </mat-error>
                      </mat-form-field>
                      <!--Apellido-->
                      <mat-form-field class="example-full-width" style="margin-bottom: 0px;">
                        <mat-label>{{"REGISTER.LASTNAME" | translate }}</mat-label>
                        <input matInput type="text" formControlName="apellido" required>
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="secondFormGroup.get('apellido')?.hasError('required') && secondFormGroup.get('apellido')?.touched">
                          {{"REGISTER.LASTNAMEVALIDATION" | translate }}
                        </mat-error>
                      </mat-form-field>
                      </div>
                        <div class="cards">
                          <!--SEXO-->
                          <mat-form-field appearance="fill" style="margin-bottom: 0px;">
                            <mat-label>{{"REGISTER.SEX" | translate }}</mat-label>
                            <mat-select formControlName="sexo">
                              <mat-option value="Femenino">{{"REGISTER.WOMEN" | translate }}</mat-option>
                              <mat-option value="Masculino">{{"REGISTER.MEN" | translate }}</mat-option>
                              <mat-option value="Otro">{{"REGISTER.OTHER" | translate }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="secondFormGroup.get('sexo')?.hasError('required') && secondFormGroup.get('sexo')?.touched">
                              {{"REGISTER.SEXVALIDATION" | translate }}
                            </mat-error>
                          </mat-form-field>
                          <!--EMAIL-->
                          <mat-form-field class="example-full-width" style="margin-bottom: 0px;">
                            <mat-label>{{"REGISTER.EMAIL" | translate }}</mat-label>
                            <input matInput type="email" formControlName="correo" required>
                            <mat-icon matSuffix>mail</mat-icon>
                            <mat-error *ngIf="secondFormGroup.get('correo')?.hasError('required')">
                              {{"REGISTER.EMAILVALIDATION" | translate }}
                            </mat-error>
                            <mat-error *ngIf="secondFormGroup.get('correo')?.hasError('email')">
                              {{"REGISTER.EMAILVALIDATIONFORMAT" | translate }}
                            </mat-error>
                            </mat-form-field>
                        </div>
                        <!--PAIS-->
                        <mat-form-field appearance="fill" class="example-full-width">
                          <mat-label>{{"REGISTER.COUNTRY" | translate }}</mat-label>
                          <mat-select formControlName="pais">
                            <mat-option *ngFor="let pais of Paises" [value]="pais.idPais">{{languagePais(pais.pais)}}</mat-option >
                          </mat-select>
                          <mat-error *ngIf="secondFormGroup.get('pais')?.hasError('required') && secondFormGroup.get('pais')?.touched">
                            {{"REGISTER.COUNTRYVALIDATION" | translate }}
                          </mat-error>
                        </mat-form-field>
                      <div>
                        <button mat-raised-button matStepperNext style="margin: 0px;" color="accent">{{"REGISTER.BTNNEXT" | translate }}</button>
                      </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup" label="{{'REGISTER.SUBTITLE3' | translate }}">
                  <form [formGroup]="thirdFormGroup">
                    <!--INSITUCION-->
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>{{"REGISTER.INSTITUTION" | translate }}</mat-label>
                      <mat-select formControlName="institucion" (ngModelChange)="programaList()">
                        <mat-option *ngFor="let inst of Instituciones" [value]="inst.idInstitucion">{{inst.nombreInstitucion}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="thirdFormGroup.get('institucion')?.hasError('required') && thirdFormGroup.get('institucion')?.touched">
                        {{"REGISTER.INSTITUTIONVALIDATION" | translate }}
                      </mat-error>
                    </mat-form-field>
                    <!--PROGRAMA-->
                    <mat-form-field appearance="fill" class="example-full-width" *ngIf="firstFormGroup.get('rol')?.value ==='Estudiante'">
                      <mat-label>{{"REGISTER.PROGRAM" | translate }}</mat-label>
                      <mat-select formControlName="programa" required>
                        <mat-option *ngFor="let instPr of InstitucionesProgramas" [value]="instPr.idInstitucionPrograma">{{instPr.idProgramaNavigation.programa}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="thirdFormGroup.get('programa')?.hasError('required') && thirdFormGroup.get('programa')?.touched">
                        {{"REGISTER.PROGRAMVALIDATION" | translate }}
                      </mat-error>
                      <app-loading *ngIf="loadingProgram"></app-loading>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button matStepperNext style="margin: 0px;" color="accent">{{"REGISTER.BTNNEXT" | translate }}</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="fourFormGroup" label="{{'REGISTER.SUBTITLE4' | translate }}">
                    <form [formGroup]="fourFormGroup" (ngSubmit)=registrarUsuario()>
                        <!--Usuario-->
                        <mat-form-field class="example-full-width" style="margin-bottom: 0px;">
                            <mat-label>{{"REGISTER.USER" | translate }}</mat-label>
                            <input matInput type="text" formControlName="usuario" required>
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-error *ngIf="fourFormGroup.get('usuario')?.hasError('required') && fourFormGroup.get('usuario')?.touched">
                              {{"REGISTER.USERVALIDATION" | translate }}
                            </mat-error>
                        </mat-form-field>
                        <!--Pass-->
                        <mat-form-field class="example-full-width" style="margin-bottom: 15px;">
                          <mat-label>{{"REGISTER.PASS" | translate }}</mat-label>
                          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                          <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                          <mat-error *ngIf="!fourFormGroup.get('password')?.valid && fourFormGroup.get('password')?.touched && !fourFormGroup.get('password')?.hasError('required')" style="font-size: small;">
                            {{"REGISTER.PASSVALIDATIONFORMAT" | translate }}
                          </mat-error>
                          <mat-error *ngIf="fourFormGroup.get('password')?.hasError('required') && fourFormGroup.get('password')?.touched">
                            {{"REGISTER.PASSVALIDATION" | translate }}
                          </mat-error>
                        </mat-form-field>
                        <mat-checkbox class="example-margin" (click)="openDialog()" [(ngModel)]="valueTratamiento" style="margin-bottom: 10px;" color="primary" formControlName="politica">
                          <span>{{"REGISTER.ACCEPT" | translate }}<b style="text-decoration: underline;">{{"REGISTER.POLICY" | translate }}</b></span>
                        </mat-checkbox>
                        <mat-error *ngIf="!fourFormGroup.get('politica')?.value && fourFormGroup.get('politica')?.touched" style="margin-bottom: 10px;" >
                          {{"REGISTER.POLICYVALIDATION" | translate }}
                        </mat-error>
                        <button mat-flat-button color="primary" class="example-full-width" type="submit" [disabled]=" fourFormGroup.invalid">
                          {{"REGISTER.SEND" | translate }} 
                          <mat-icon>send</mat-icon>
                        </button>
                    </form>
                </mat-step>

            </mat-stepper>
            </mat-card-content>
            <app-loading *ngIf="loading"></app-loading>
        </mat-card>
    </div>
</div><!--(click)="openDialog()"-->
</div>