<div class="layout">
<div class="container">
    <div style="width: 100%;">
        <mat-card class="example-card">
            <mat-card-header class="center">
                <h1>{{"REGISTER.TITLE" | translate }}</h1>
            </mat-card-header>
            <mat-card-content>
            <hr>
            <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup" label="Rol">
                  <form [formGroup]="firstFormGroup">
                    <!--ROL-->
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>{{"REGISTER.ROL" | translate }}</mat-label>
                        <mat-select formControlName="rol">
                          <mat-option value="Docente">Docente</mat-option>
                          <mat-option value="Estudiante">Estudiante</mat-option>
                        </mat-select>
                        <mat-error *ngIf="firstFormGroup.get('rol')?.hasError('required') && firstFormGroup.get('rol')?.touched">
                          Rol Requerido
                        </mat-error>
                      </mat-form-field>
                    <div>
                      <button mat-raised-button matStepperNext style="margin: 0px;" color="accent">Next</button>
                    </div>
                  </form>
                </mat-step>

                <mat-step [stepControl]="secondFormGroup" label="Informacion General">
                    <form [formGroup]="secondFormGroup">
                      <div class="cards">
                        <!--Nombre-->
                        <mat-form-field class="example-full-width" style="margin-bottom: 0px;">
                          <mat-label>{{"REGISTER.NAME" | translate }}</mat-label>
                          <input matInput type="text" formControlName="nombre" required>
                          <mat-icon matSuffix>person</mat-icon>
                          <mat-error *ngIf="secondFormGroup.get('nombre')?.hasError('required') && secondFormGroup.get('nombre')?.touched">
                              Nombre Requerido
                          </mat-error>
                      </mat-form-field>
                      <!--Apellido-->
                      <mat-form-field class="example-full-width" style="margin-bottom: 0px;">
                        <mat-label>{{"REGISTER.LASTNAME" | translate }}</mat-label>
                        <input matInput type="text" formControlName="apellido" required>
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="secondFormGroup.get('apellido')?.hasError('required') && secondFormGroup.get('apellido')?.touched">
                            Apellido Requerido
                        </mat-error>
                      </mat-form-field>
                      </div>
                        <div class="cards">
                          <!--SEXO-->
                          <mat-form-field appearance="fill" style="margin-bottom: 0px;">
                            <mat-label>{{"REGISTER.SEX" | translate }}</mat-label>
                            <mat-select formControlName="sexo">
                              <mat-option value="Femenino">Femenino</mat-option>
                              <mat-option value="Masculino">Masculino</mat-option>
                              <mat-option value="Otro">Otro</mat-option>
                            </mat-select>
                            <mat-error *ngIf="secondFormGroup.get('sexo')?.hasError('required') && secondFormGroup.get('sexo')?.touched">
                              Sexo Requerido
                            </mat-error>
                          </mat-form-field>
                          <!--EMAIL-->
                          <mat-form-field class="example-full-width" style="margin-bottom: 0px;">
                            <mat-label>{{"REGISTER.EMAIL" | translate }}</mat-label>
                            <input matInput type="email" formControlName="correo" required>
                            <mat-icon matSuffix>mail</mat-icon>
                            <mat-error *ngIf="secondFormGroup.get('correo')?.hasError('email')">
                              Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="secondFormGroup.get('correo')?.hasError('required') && secondFormGroup.get('email')?.touched">
                              Email Requerido
                            </mat-error>
                            </mat-form-field>
                        </div>
                        <!--PAIS-->
                        <mat-form-field appearance="fill" class="example-full-width">
                          <mat-label>{{"REGISTER.COUNTRY" | translate }}</mat-label>
                          <mat-select formControlName="pais">
                            <mat-option *ngFor="let pais of Paises" [value]="pais.idPais">{{languagePais(pais.pais)}}</mat-option >
                          </mat-select>
                          <mat-error *ngIf="secondFormGroup.get('pais')?.hasError('required') && secondFormGroup.get('pais')?.touched">
                            Pais Requerido
                          </mat-error>
                        </mat-form-field>
                      <div>
                        <button mat-raised-button matStepperNext style="margin: 0px;" color="accent">Next</button>
                      </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup" label="Informacion Academica">
                  <form [formGroup]="thirdFormGroup">
                    <!--INSITUCION-->
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>{{"REGISTER.INSTITUTION" | translate }}</mat-label>
                      <mat-select formControlName="institucion" (ngModelChange)="programaList()">
                        <mat-option *ngFor="let inst of Instituciones" [value]="inst.idInstitucion">{{inst.nombreInstitucion}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="firstFormGroup.get('institucion')?.hasError('required') && firstFormGroup.get('institucion')?.touched">
                        Institucion Requerido
                      </mat-error>
                    </mat-form-field>
                    <!--PROGRAMA-->
                    <mat-form-field appearance="fill" class="example-full-width" *ngIf="firstFormGroup.get('rol')?.value ==='Estudiante'">
                      <mat-label>{{"REGISTER.PROGRAM" | translate }}</mat-label>
                      <mat-select formControlName="programa" required>
                        <mat-option *ngFor="let instPr of InstitucionesProgramas" [value]="instPr.idInstitucionPrograma">{{instPr.idProgramaNavigation.programa}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="firstFormGroup.get('programa')?.hasError('required') && firstFormGroup.get('programa')?.touched">
                        Programa Requerido
                      </mat-error>
                      <app-loading *ngIf="loadingProgram"></app-loading>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button matStepperNext style="margin: 0px;" color="accent">Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="fourFormGroup" label="Inicio de sesion">
                    <form [formGroup]="fourFormGroup" (ngSubmit)=registrarUsuario()>
                        <!--Usuario-->
                        <mat-form-field class="example-full-width" style="margin-bottom: 0px;">
                            <mat-label>{{"REGISTER.USER" | translate }}</mat-label>
                            <input matInput type="text" formControlName="usuario" required>
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-error *ngIf="fourFormGroup.get('usuario')?.hasError('required') && fourFormGroup.get('usuario')?.touched">
                                Usuario Requerido
                            </mat-error>
                        </mat-form-field>
                        <!--Pass-->
                        <mat-form-field class="example-full-width" style="margin-bottom: 15px;">
                          <mat-label>{{"REGISTER.PASS" | translate }}</mat-label>
                          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                          <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                          <mat-error *ngIf="!fourFormGroup.get('password')?.valid && fourFormGroup.get('password')?.touched" style="font-size: small;">
                            La contraseña debe tener minimo 8 caracteres, un digito, un caracter especial, una mayuscula y una minuscula.
                          </mat-error>
                          <mat-error *ngIf="fourFormGroup.get('password')?.hasError('required') && fourFormGroup.get('password')?.touched">
                              Contraseña Requerida
                          </mat-error>
                        </mat-form-field>
                        <mat-checkbox class="example-margin" (click)="openDialog()" [(ngModel)]="valueTratamiento" style="margin-bottom: 10px;" color="primary" formControlName="politica">
                          <span>Aceptar politica de tratamiento de datos personales</span>
                        </mat-checkbox>
                        <mat-error *ngIf="!fourFormGroup.get('politica')?.value && fourFormGroup.get('politica')?.touched" style="margin-bottom: 10px;" >
                          Es obligatorio aceptar la politica para registrarte
                        </mat-error>
                        <button mat-flat-button color="primary" class="example-full-width" type="submit" [disabled]=" fourFormGroup.invalid">
                          {{"REGISTER.SEND" | translate }} 
                          <mat-icon>send</mat-icon>
                        </button>
                    </form>
                </mat-step>

            </mat-stepper>
            </mat-card-content>
            <app-loading *ngIf="loading"></app-loading>
        </mat-card>
    </div>
</div><!--(click)="openDialog()"-->
</div>