# Desde .NET Core 3.0 puede usar el comando: `dotnet new gitignore` para generar un archivo .gitignore personalizable

* .swp
* . * ~
proyecto.lock.json
.DS_Tienda
* .pyc

# código de estudio visual
.vscode

# Archivos específicos del usuario
* .suo
* .usuario
* .userosscache
* .sln.docstates

# Construir resultados
[ Dd ] ebug /
[ Dd ] ebugPublic /
[ Rr ] por favor /
[ Rr ] alivia /
x64 /
x86 /
construir /
bld /
[ Bb ] en /
[ Oo ] bj /
msbuild.log
msbuild.err
msbuild.wrn

#Visual Studio 2015
.vs /