
<div class="container">
    <div class="center">
        <img width="150vw" style="margin-bottom: 0;" src="../../../../assets/img/logotop.png">
        <h1 class="tituloBlanco">METADEC</h1>
        <h4>{{"WELCOME.SUBTITLE" | translate }}</h4>
        <hr><br>
        <button mat-fab extended color="primary" (click)="descarga()">
            <mat-icon>cloud_download</mat-icon>
            {{"WELCOME.DOWNLOAD" | translate }}
        </button>
    </div>
</div>
<div class="center">
    <h1 style="font-size: 3.5rem;">{{"WELCOME.TITLEKNOW" | translate }}
    <img src="../../../../assets/img/fecha.png" width="40vh">
    </h1>    
</div>

<div class="fondoCirculos">
    <div class="cards" style="background-color: white; margin: auto; ">
        <div>
            <img src="../../../../assets/img/PORTADAaz.png" width="100%" height="100%">
        </div>
        <div class="concepto">
            <div>
                <h1 color="primary" style="font-weight: 400; text-align: center; font-size: 5vh;">{{"WELCOME.CONCEPT" | translate }}</h1>
                <hr>
                <p style ="line-height: 150%; text-align: justify;">
                    {{"WELCOME.DESCRIPCTION" | translate }}
                </p>
            </div>
        </div>
    
    </div>
</div>
<br>

<div class="center" style="background-color: #1C85A5; margin-top: 20px;">
    <div style="background-color: white; width: fit-content; margin: auto;">
        <h1 style="font-size: 6vh; padding: 1vw 1vw; margin: 0;">
            {{"WELCOME.ACTIVITYS" | translate }}
            <h1 style="font-size: 7vh; font-weight: 300; display:inline; margin: 0;">{{"WELCOME.INTERACTIVE" | translate }}</h1>
        </h1>
    </div>
</div>


<div style="background-color: #f1f1f1; padding: 5vh 0;">
    <div class="cardsThird" >
        <div class="centerDiv">
            <mat-card class="example-card accent" style="background-color: #333333;">
                <mat-card-header style="  display: flex; justify-content: center;">
                    <h1 style="font-size: 1.8rem; font-weight: 400; color: #fff;">{{"WELCOME.TITLECANCHAS" | translate }}</h1>
                </mat-card-header>
                <img mat-card-image src="../../../../assets/img/ActividadCanchas.png" width="100%">
                <mat-card-content>
                  <p class="pCardActivity">
                    {{"WELCOME.CANCHAS" | translate }}
                  </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="centerDiv">
            <mat-card class="example-card accent" style="background-color: #333333;">
                <mat-card-header style="  display: flex; justify-content: center;">
                    <h1 style="font-size: 1.8rem; font-weight: 400; color: #fff;">{{"WELCOME.TITLEBIENESTAR" | translate }}</h1>
                </mat-card-header>
                <img mat-card-image src="../../../../assets/img/ActividadBienestar.png" width="100%">
                <mat-card-content>
                  <p class="pCardActivity">
                    {{"WELCOME.BIENESTAR" | translate }}
                  </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="centerDiv">
            <mat-card class="example-card accent" style="background-color: #333333;">
                <mat-card-header style="  display: flex; justify-content: center;">
                    <h1 style="font-size: 1.8rem; font-weight: 400; color: #fff;">{{"WELCOME.TITLERESTAURANT" | translate }}</h1>
                </mat-card-header>
                <img mat-card-image src="../../../../assets/img/actividadRestauranteC.png" width="100%">
                <mat-card-content>
                  <p class="pCardActivity">
                    {{"WELCOME.RESTAURANT" | translate }}
                  </p>
                </mat-card-content>
            </mat-card>
        </div>
    
    </div>
</div>

<div class="center">
    
    <h1 style="font-size: 3rem; color: #156a85;">
        <img src="../../../../assets/img/titleleft.png" width="40vh">
        {{"WELCOME.TITLEGALERY" | translate }}
    <img src="../../../../assets/img/titleright.png" width="40vh">
    </h1>    
</div>

<div>
    <div class="cardsFour" >
        <div>
            <img src="../../../../assets/img/actividadRestauranteC.png" sizes="cover" height="250px" width="100%">
        </div>
        <div>
            <img src="../../../../assets/img/ActividadCanchas.png" sizes="cover" height="250px" width="100%">
        </div>
        <div>
            <img src="../../../../assets/img/ActividadBienestar.png" sizes="cover" height="250px" width="100%">
        </div>
        <div>
            <img src="../../../../assets/img/fondo.png" sizes="cover" height="250px" width="100%">
        </div>
    </div>
</div>

<div style="background-color: #333333; margin-top: 30px;">
    <div class="cards" style="margin: auto;">
        <div style="display: flex; justify-content: center; align-items: center; padding: 20px;">
            <img src="../../../../assets/img/logoBlanco.png" height="80px">
        </div>
        <div style="padding-left: 20px;">
            <h1 style="color: #fff;">{{"FOOTER.CONTACT" | translate }}</h1>
            <h4 style="font-weight: 300; margin: 5px 0;" >Universidad de Cundinamarca</h4>
            <h4 style="font-weight: 300; margin: 5px 0;">Extension Chia</h4>
            <h4 style="font-weight: 300; margin: 5px 0;">solicitududes.metadec@gmail.com</h4>
            <br>
        </div>
    </div>
</div>
<div class="center" style="background-color: #222222;">
    <h3 style="margin: 0; color: #fff; font-weight: 300; padding: 2vh;">© 2023 Copyright: MetadecUdec.com</h3>
</div>
