<div class="container">
    <div class="center">
        <h1 class="tituloBlanco">NETIQUETA</h1>
        <hr class="rayita-azul">
        <h4 style="color: #fff;font-weight: 400;">
            {{"NETIQUETA.TITLE" | translate }}</h4>
    </div>
</div>

<div class="fondoNetiqueta"> 
    <img src="{{'NETIQUETA.NETIQUETAURL' | translate }}">
</div>


<div style="background-color: #333333;">
    <div class="cards" style="margin: auto;">
        <div style="display: flex; justify-content: center; align-items: center; padding: 20px;">
            <img src="../../../../assets/img/logoBlanco.png" height="80px">
        </div>
        <div style="padding-left: 20px;">
            <h1 style="color: #fff;">{{"FOOTER.CONTACT" | translate }}</h1>
            <h4 style="font-weight: 300; margin: 5px 0; color: #fff;" >Universidad de Cundinamarca</h4>
            <h4 style="font-weight: 300; margin: 5px 0; color: #fff;">Extension Chia</h4>
            <h4 style="font-weight: 300; margin: 5px 0; color: #fff;">solicitududes.metadec@gmail.com</h4>
            <br>
        </div>
    </div>
</div>
<div class="center" style="background-color: #222222;">
    <h3 style="margin: 0; color: #fff; font-weight: 300; padding: 2vh;">© 2023 Copyright: MetadecUdec.com</h3>
</div>

