<div class="col d-flex justify-content-center">
    <div class="card w-50">
        <div class="card-body">
          <h5 class="card-title">{{"LOGIN.TITLE" | translate }}</h5>
          <p class="card-text"></p>
          <!--USER-->
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">{{"LOGIN.USER" | translate }}:</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder='{{"LOGIN.USER" | translate }}' required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <!--PASSWORD-->
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">{{"LOGIN.PASS" | translate }}:</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder='{{"LOGIN.PASS" | translate }}' required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <br>
          <div class="d-grid gap-2">
            <button class="btn bg-cyan-700 text-white" type="button">{{"LOGIN.SEND" | translate }}</button>
          </div>
        </div>
    </div>
</div>
