.example-spacer {
    flex: 1 1 auto;
  }
button{
    min-height: 100%;
}

.img-fluid{
    height: 7vh;
    width: 8vh;
}

mat-toolbar{
    padding-right: 0;
    padding-left: 0;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 50px;
}

.mat-mdc-menu-item {
    padding-top: 4px;
    padding-bottom: 4px;
    }

::ng-deep.mat-menu-panel {
    color: #000;
    }

button{
    font-size: small;
}

::ng-deep {  
    .mat-mdc-menu-panel {  
      max-width: unset !important;  
    }  
}

.nombreMetadec{
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-family: 'Lemon/Milk light', sans-serif;
}


::ng-deep .mat-toolbar{
z-index: 998;
position: fixed
}
::ng-deep .mat-tab-group{
margin-top:55px !important;
}
  