
<div class="container">
    <div class="center">
        <h1 class="tituloBlanco">BIENVENIDO</h1>
        <hr class="lineaAzul">

    </div>
</div>


<div class="fondoCirculos">
    <div class="cards" style="background-color: white; margin: 2vh auto; ">
        <div class="imagenAvatar">
            <img src="https://models.readyplayer.me/63d4a314bc1bcc3f933ba207.png?scene=fullbody-portrait-v1" width="100%">
        </div>
        <div class="concepto">
            <div style="color:white;">
                <div style="text-align: center;">
                    <mat-icon>person</mat-icon>
                </div>
                
                <h2 color="primary" style="font-weight: 400; font-size: 3vh;">
                    PAULA RODRIGUEZ
                </h2>
                <hr style="border:  1px #2899be solid;">
                <p style="font-weight: 300; align-items: center; display: flex;"><mat-icon style="margin-right: 5px;">wc</mat-icon> Mujer</p>
                <p style="font-weight: 300; align-items: center; display: flex;"><mat-icon style="margin-right: 5px;">public</mat-icon>Colombia</p>
                <p style="font-weight: 300; align-items: center; display: flex;"><mat-icon style="margin-right: 5px;">mail</mat-icon> paula@paula.com</p>

                <button mat-flat-button color="primary" class="example-full-width" >
                    CAMBIAR CONTRASEÑA
                </button>
            </div>
        </div>
    
    </div>


</div>