<router-outlet></router-outlet>

<div style="background-color: #333333; margin-top: 30px;">
    <div class="cardsfooter" style="margin: auto;">
        <div style="display: flex; justify-content: center; align-items: center; padding: 20px;">
            <img src="../../../../assets/img/logoBlanco.png" height="80px">
        </div>
        <div style="padding-left: 20px; color: #fff;">
            <h1>{{"DASHBOARD.CONTACT" | translate }}</h1>
            <h4 style="font-weight: 300; margin: 5px 0;" >Universidad de Cundinamarca</h4>
            <h4 style="font-weight: 300; margin: 5px 0;">Extension Chia</h4>
            <h4 style="font-weight: 300; margin: 5px 0;">solicitududes.metadec@gmail.com</h4>
            <br>
        </div>
    </div>
</div>
<div class="center" style="background-color: #222222;">
    <h3 style="margin: 0; color: #fff; font-weight: 300; padding: 2vh;">© 2023 Copyright: MetadecUdec.com</h3>
</div>